textarea{
    width: 80%;
    margin: 1 rem;
    Display: block;
    height: 10vh;
    padding: 1rem;
}
.opdown{
    font-weight:bold;
    font-size: larger;
    padding: 1rem;
}
#output{
    width:80%;
    margin:1rem;
    border:1px solid black;
    height:10vh;
    padding: 1rem;
}
.header{
    background-color: 	#FFCC66;
    text-align: center;
    padding: 1.5rem;
    margin:0px;
}
.area1{
 border-style: center; 
}