textarea{
    width: 80%;
    margin: 1 rem;
    Display: block;
    height: 10vh;
    padding: 1rem;
}
.opdown{
    font-weight:bold;
    font-size: larger;
    padding: 1rem;
}
#output{
    width:80%;
    margin:1rem;
    border:1px solid black;
    height:10vh;
    padding: 1rem;
}